.App {
  height: 100vh;
  width: 100vw;
  max-width: 100vw; /* Prevent overflow */
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  color: #212529;
  overflow: hidden; /* Prevent scrollbars */
  box-sizing: border-box;
}